@import "tailwindcss";

:root {
  --background-image: url("./components/cc7755ab-428a-4557-bf14-6d1abf567d9c.png");
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("./components/cc7755ab-428a-4557-bf14-6d1abf567d9c.png");
    --foreground: #000000;
  }
}

body {
  position: relative;
  z-index: 0;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--foreground);
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Qoracha overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.4
  ); /* Bu yerda 0.5 - qoracha shaffoflik darajasi */
  z-index: -1;
}
